
.imageContainer {
    animation: scaleUpDown 0.5s linear;
    animation-timeline: scroll();
}

@keyframes scaleUpDown {
    0%, 100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
}

@keyframes growProgress {
    from {
        transform: scaleX(0) ;
    }
    to {
        transform: scaleX(1) ;
    }
}

.progressFill {
    transform-origin: left center;
    animation: growProgress linear forwards;
    animation-timeline: scroll();
}