
/*.imageContainer {*/
/*    animation: scaleUpDown 0.5s linear;*/
/*    animation-timeline: scroll();*/
/*}*/

/*@keyframes scaleUpDown {*/
/*    0%, 100% {*/
/*        transform: scale(0);*/
/*    }*/
/*    50% {*/
/*        transform: scale(2);*/
/*    }*/
/*}*/

/*@keyframes growProgress {*/
/*    from {*/
/*        transform: scaleX(0) ;*/
/*    }*/
/*    to {*/
/*        transform: scaleX(1) ;*/
/*    }*/
/*}*/

/*.progressFill {*/
/*    transform-origin: left center;*/
/*    animation: growProgress linear forwards;*/
/*    animation-timeline: scroll();*/
/*}*/

@keyframes chevron {
    from {
        transform: rotate(0deg); /* Starting rotation */
    }
    to {
        transform: rotate(180deg); /* Ending rotation (e.g., for an open/closed state) */
    }
}

.chevronIcon:hover {
    animation: chevron 0.5s linear;
}