.button {
    position: relative;
    display: flex;
    height: 40px;
    align-items: center;
    gap: 8px;
    border-radius: 9999px;
    background-color: #f6f5f5;
    padding-inline: 24px;
    font-weight: 500;
    color: #21201c;
    border: 1px solid #2090FF;
}

.holdOverlay {
    position: absolute;
    inset: 0;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 9999px;
    background-color: #ffdbdc;
    color: #2090FF;
    clip-path: inset(0px 100% 0px 0px);
    transition: clip-path 0.2s ease-out;

}

.button:active .holdOverlay {
    clip-path: inset(0px 0px 0px 0px);
    transition: clip-path 1.5s linear;
}